<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>管理中心</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/signin.css}" rel="stylesheet">
	<link th:href="@{css/dashboard.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">管理系统</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">用户名</a></li>
				<li><a href="#">退出登录</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#">今日概况</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Export</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item</a></li>
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
				<li><a href="">More navigation</a></li>
			</ul>
			<ul class="nav nav-sidebar">
				<li><a href="">Nav item again</a></li>
				<li><a href="">One more nav</a></li>
				<li><a href="">Another nav item</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">今日医生</h1>

			<div class="row placeholders">
				<div class="col-xs-6 col-sm-3 placeholder" th:each="doctor:${doctors}">
					<img th:if="${doctor.getDsex()} == '男'" src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2F01.imgmini.eastday.com%2Fmobile%2F20180109%2F20180109_c0ff21ffc0e606342149dd05b6fe1cfa.jpg&refer=http%3A%2F%2F01.imgmini.eastday.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1611841279&t=98b191450926aee9c48501d21cd6dc97" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
					<img th:if="${doctor.getDsex()} == '女'" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2101804683,3120135742&fm=26&gp=0.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
					<h4 th:text="${doctor.dname}"></h4>
					<span th:text="${doctor.jMalibox}" class="text-muted">/span>
				</div>
			</div>

			<h2 class="sub-header">Section title</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>#</th>
						<th>学生姓名</th>
						<th>医生姓名</th>
						<th>时间</th>
						<th>Header</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="today:${todays}">
						<td th:text="${today.getId()}"></td>
						<td th:text="${today.getSname()}"></td>
						<td th:text="${today.getDname()}"></td>
						<td th:text="${today.getTime()}"></td>
						<td></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{js/jquery.js}"></script>
</body>
</html>
