<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/userLogin.css}" rel="stylesheet">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">


        <div id="navbar" class="navbar-collapse collapse">


        </div>
    </div>
</nav>

    <div class="format" style="margin-top: 100px">
        <div class=" container" >
            <form class="well form-signin" method="post" action="/isLogin">
                <h2 class="form-signin-heading">用户登录</h2>
                <div>
                    <label  class="sr-only">用户名 ：</label>
                    <input type="text" name="username" class="form-control" placeholder="请输入用户名" required autofocus />
                </div>
                <div>
                    <label  class="sr-only">密码 ：</label>
                    <input type="password"  class="form-control" name="psw" placeholder="请输入密码" required />
                </div>
                <div >
                    <span  class="control" th:text="${msg}"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" id="btn1" type="submit">登录</button>

            </form>
        </div>
    </div>

</body>
</html>