<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>管理中心</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/signin.css}" rel="stylesheet">
	<link th:href="@{css/dashboard.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">管理系统</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">用户名</a></li>
				<li><a href="#">退出登录</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li><a th:href="@{/admin}">今日概况</a></li>
				<li class="active"><a th:href="@{/student}">学生信息</a></li>
				<li><a href="#">药品信息</a></li>
				<li><a href="#">医生信息</a></li>
				<li><a th:href="@{/statistics}">统计信息</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h2 class="sub-header col-md-9">学生信息
				<button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary">添加学生</button> </h2>
			<div class=" col-md-3" style="margin-top: 20px;">
				<form method="post" th:action="@{/student}">
					<div class="input-group">
						<input name="search" type="text" class="form-control" placeholder="请输入学生姓名或学号">
						<span class="input-group-btn">
						<button class="btn btn-default" type="submit">查询</button>
					</span>
					</div>
				</form>
			</div>
			<div class="table-responsive col-md-12">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>学号</th>
						<th>学生姓名</th>
						<th>学生年龄</th>
						<th>学生性别</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="student:${students}">
						<td th:text="${student.getSno()}"></td>
						<td th:text="${student.getSname()}"></td>
						<td th:text="${student.getSage()}"></td>
						<td th:text="${student.getSsex()}"></td>
						<td>
							<button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary glyphicon glyphicon-pencil"></button>
							<a th:href=""><button type="button" class="btn btn-primary glyphicon glyphicon-remove"></button></a>
							<button type="button" class="btn btn-primary glyphicon glyphicon-refresh"></button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">新增学生信息</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" method="post" th:action="@{/addstudent}" id="addstudentform">
					<div class="form-group">
						<label  class="col-sm-3 control-label">学号：</label>
						<div class="col-sm-9">
							<input name="sno" type="text"  class="form-control" placeholder="学号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">学生姓名：</label>
						<div class="col-sm-9">
							<input name="sname" type="text" class="form-control" placeholder="学生姓名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">学生年龄：</label>
						<div class="col-sm-9">
							<input name="sage" type="number" class="form-control" placeholder="学生年龄">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">学生性别：</label>
						<div class="col-sm-9">
							<label class="radio-inline">
								<input type="radio" name="ssex" id="inlineRadio1" value="男"> 男
							</label>
							<label class="radio-inline">
								<input type="radio" name="ssex" id="inlineRadio2" value="女"> 女
							</label>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button id="addbtn" type="button" class="btn btn-primary" data-dismiss="modal">提交更改</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
<script th:src="@{js/jquery.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script>
	var addbtn = document.getElementById("addbtn");
	var addform = document.getElementById("addstudentform");
	addbtn.onclick = function () {
		addform.submit();
    }
</script>
</body>
</html>
