<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <title>学生看病</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/dashboard.css}" rel="stylesheet">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script>
        $(function (){
            $("#btn2").click(function (){
                var header = $("meta[name='_csrf_header']").attr("content");
                var token =$("meta[name='_csrf']").attr("content");

                var oldPsw =  $("input[name=oldPsw]").val();
                var newPsw =  $("input[name=newPsw]").val();
                var verify =  $("input[name=verify]").val();
                if (newPsw == verify){
                    var formData = new FormData();
                    formData.append("oldPsw", oldPsw);
                    formData.append("newPsw", newPsw);
                    formData.append("verify", verify);
                    $.ajax({
                        url:"/updatePsw",
                        type:"post",
                        dataType:"text",
                        data:formData,
                        async: false,
                        contentType: false,
                        processData: false,
                        beforeSend : function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success:function (result) {
                            if (result=="success"){
                                alert("修改成功！");
                                window.location.reload();
                            }else {
                                alert(result);

                            }
                        }
                    })
                }else {
                    alert("新密码不一致");
                }
            })

            $("#logout").click(function () {
                var header = $("meta[name='_csrf_header']").attr("content");
                var token =$("meta[name='_csrf']").attr("content");
                $.ajax({
                    url:'/logout',
                    type:"post",
                    dataType:"text",
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success:function (result) {
                        if (result=="success"){
                            alert("成功退出登录");
                            window.location.reload();
                        }
                    }
                })
            })
        })

    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="margin-right: 10px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="glyphicon glyphicon-user" style="color: rgb(255, 255, 255);" > 欢迎登录！[[${doc.dname}]]</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">修改个人信息</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal">修改密码</a></li>

                    </ul>
                </li>
                <li><a href="" id="logout" >退出登录</a></li>

            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#"> 功能<span class="sr-only">(current)</span></a></li>
                <li><a href="#"></a></li>
                <li><a th:href="@{/registration}">订单管理</a></li>
                <li><a th:href="@{/ageSee}">学生看病</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">SHOMIS-doctor</h1>
            <span ></span>


            <div class="table table-striped">
                <h4>学生看病</h4>

                <div style="width: 350px;margin-left: 450px">
                    <form  id="fom" th:action="@{/seeDoctor}" method="get">
                        <input type="hidden" value="">


                        <div class="form-group">
                            <label>学号：</label>
                            <input type="text" class="form-control"  name="sno"     required>
                        </div>


                        <button  type="submit" id="btn1"  class="btn  btn-primary btn-block">提交</button>
                    </form>

                </div>



            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <from>
                    <div class="form-group">
                        <label>原密码：</label>
                        <input type="password" class="form-control"  name="oldPsw"     required>
                    </div>
                    <div class="form-group">
                        <label>新密码：</label>
                        <input type="password" class="form-control"  name="newPsw"     required>
                    </div>
                    <div class="form-group">
                        <label>确认密码：</label>
                        <input type="password" class="form-control"  name="verify"     required>
                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btn2" class="btn btn-primary">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>