<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>挂号管理</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/dashboard.css}" rel="stylesheet">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        $(function (){
            $("#btnEdit").click(function () {

                var header = $("meta[name='_csrf_header']").attr("content");
                var token =$("meta[name='_csrf']").attr("content");

                $("table tbody tr ").each(function (i) {

                    $(this).children('td').each(function (j) {

                        if (j==0&&$(this).html()==$(this).text()) {

                            $(this).html("<input type=\"text\" name=\"xh\" value=\""+$(this).html()+"\"/>");
                        }

                    });



                })
                $("#notarize").html("<button type=\"button\" id='btnNotarize' style=\"float: right\" class=\"btn btn-default\">确认修改</button>");


                $("#btnNotarize").click(function () {
                    var xhList = new Array();
                    $("input[name=xh]").each(function (i) {
                        xhList[i] = $(this).val();
                    });
                    var snoList = new Array();
                    $("table tbody tr ").each(function (i) {
                        $(this).children('td').each(function (j) {
                            if (j==1&&$(this).html()==$(this).text()) {

                                snoList[i] = $(this).html();
                            }
                        })


                    });
                    console.log(xhList);
                    console.log(snoList);
                    var formData = new FormData();
                    formData.append("xh", xhList);
                    formData.append("sno", snoList);
                    $.ajax({
                        url:"/alterreg",
                        type:"post",
                        dataType:"text",
                        data:formData,
                        async: false,
                        contentType: false,
                        processData: false,
                        beforeSend : function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success:function (result) {
                            if (result=="success"){
                                alert("修改成功！");
                                window.location.reload();
                            }else {
                                alert(result);

                            }
                        }
                    })
                });
            });
        })
    </script>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="margin-right: 10px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="glyphicon glyphicon-user" style="color: rgb(255, 255, 255);"> 医生名</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">修改个人信息</a></li>
                        <li><a href="#">修改密码</a></li>

                    </ul>
                </li>
                <li><a href="#">退出登录</a></li>

            </ul>

        </div>
    </div>
</nav>
    <input type="text" name="xh" />
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#"> 功能<span class="sr-only">(current)</span></a></li>
                <li><a href="#"></a></li>
                <li><a th:href="@{/registration}">订单管理</a></li>
                <li><a href="#">学生看病</a></li>
            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">SHOMIS-doctor</h1>
            <span ></span>


                <table class="table table-striped">
                    <h4>学生挂号管理</h4>
                    <div class="alert alert-danger" th:if="${msg}!=null" th:text="${msg}"></div>
                    <div>
                        <form class="form-horizontal" role="form" th:action="@{registration}" method="post">
                            <div class="form-group" style="">

                                <label  class="col-sm-2 control-label">查询：</label>

                                <div class="col-sm-6" style="width: 150px;margin-left: -150px">
                                <input type="text" class="form-control" id="firstname" name="sno" placeholder="请输入学号">
                            </div>
                            </div>
                            <div class="btn-group" style="margin-bottom: 20px">
                                <button type="submit" class="btn btn-default" id="search">
                                    <span class="glyphicon glyphicon-search" style="color: rgb(0, 0, 0);"></span>
                                    搜索
                                </button>

                                <button type="button" id="btnEdit" class="btn btn-default">
                                    <span class="glyphicon glyphicon-edit" style="color: rgb(0, 0, 0);"></span>
                                    修改
                                </button>
                            </div>
                        </form>
                    </div>
                    <thead>
                    <tr>
                        <th>顺序</th>
                        <th>学号</th>
                        <th>姓名</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="reg,stat:${regList}">
                            <td>[[${reg.sequence}]]</td>
                            <td>[[${reg.sno}]]</td>
                            <td>[[${reg.sname}]]</td>
                        </tr>

                    </tbody>
                </table>
            <div id="notarize">

            </div>




        </div>
    </div>
</div>

</body>
</html>