<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header"  th:content="${_csrf.headerName}"/>
    <title>学生看病</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/dashboard.css}" rel="stylesheet">
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>

    <script type="text/javascript">
        $(function (){

            $("#logout").click(function () {
                var header = $("meta[name='_csrf_header']").attr("content");
                var token =$("meta[name='_csrf']").attr("content");
                $.ajax({
                    url:'/logout',
                    type:"post",
                    dataType:"text",
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success:function (result) {
                        if (result=="success"){
                            alert("成功退出登录");
                            window.location.reload();
                        }
                    }
                })
            })

            $("#btn1").click(function (){
                var header = $("meta[name='_csrf_header']").attr("content");
                var token =$("meta[name='_csrf']").attr("content");

                var List = new Array();
                $("input:checkbox:checked").each(function (i) {
                    List[i] = $(this).val();
                });
                var sno =  $("input[name=sno]").val();
                var price = $("input[name=price]").val();
                var symptom = $("textarea[name=symptom]").val();



                var formData = new FormData();
                formData.append("prescription", List);
                formData.append("sno", sno);
                formData.append("price", price);
                formData.append("symptom", symptom);
                $.ajax({
                    url:"/updateDrug",
                    type:"post",
                    dataType:"text",
                    data:formData,
                    async: false,
                    contentType: false,
                    processData: false,
                    beforeSend : function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success:function (result) {
                        if (result=="success"){
                            alert("修改成功！");
                            window.location.replace("/registration");
                        }else {
                            alert(result);

                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">


        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" style="margin-right: 10px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                        <span class="glyphicon glyphicon-user" style="color: rgb(255, 255, 255);" > 欢迎登录！[[${doc.dname}]]</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">修改个人信息</a></li>
                        <li><a href="#">修改密码</a></li>

                    </ul>
                </li>
                <li><a href="" id="logout" >退出登录</a></li>

            </ul>

        </div>
    </div>
</nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#"> 功能<span class="sr-only">(current)</span></a></li>
                    <li><a href="#"></a></li>
                    <li><a th:href="@{/registration}">订单管理</a></li>
                    <li><a th:href="@{/ageSee}">学生看病</a></li>
                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">SHOMIS-doctor</h1>
                <span ></span>


                <div class="table table-striped">
                    <h4>学生看病</h4>

                    <div style="width: 350px;margin-left: 450px">
                        <form  id="fom" >
                            <input type="hidden" value="">

                            <div class="form-group">
                                <label>学号</label>
                                <input  type="text" class="form-control"  name="sno" readonly="readonly"  th:value="${stu.sno}"  required>
                            </div>
                            <div class="form-group">
                                <label>学生姓名：</label>
                                <input type="text" class="form-control"  name="sname"  th:value="${stu.sname}" readonly="readonly"  required>
                            </div>
                            <div class="form-group">
                                <label>顺序：</label>
                                <input type="text" class="form-control"  name="sequence"  th:value="${reg.sequence}" readonly="readonly"  required>
                            </div>
                            <div class="form-group">
                                <label>顺序：</label>
                                <input type="text" class="form-control"  name="sequence"  th:value="${reg.sequence}" readonly="readonly"  required>
                            </div>
                            <div class="form-group">
                                <label>症状：</label>
                                <textarea rows="5" cols="30" name="symptom">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label>推荐用药:</label>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-hover" style="width: 300px">
                                        <tr>
                                            <th></th>
                                            <th>药品名</th>
                                            <th>零售价</th>
                                            <th>库存</th>
                                        </tr>
                                        <tr th:each="drug,stat:${drugList}">
                                            <td>
                                                <input type="checkbox" name="prescription" th:value="${drug.mno}">
                                            </td>
                                            <td>
                                                [[${drug.mname}]]
                                            </td>
                                            <td>[[${drug.lDprice}]]</td>
                                            <td>[[${drug.inventory}]]</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div>
                                <label>价格：</label>

                                <input type="text"  name="price" id="pr" class="form-control" required>
                            </div>

                            <button  type="button" id="btn1"  class="btn btn-lg btn-primary btn-block">提交</button>
                        </form>

                    </div>



                </div>
            </div>
        </div>
    </div>
</body>
</html>